.c-time-availability {

  &__item {
    background: color('theme-bg', 'alt');
    border-radius: $space-s;
    color: color('theme-text', 'alt');
    font-size: $font-xs;
    margin-bottom: $space-s;
    padding: $space-xs $space-s;
    text-align: center;
    width: $space-xxl;

    &.active {
      background: color('teal');
      color: color('theme-bg');
    }
  }
}
